@font-face {
    font-family: "Kuunari";
    src: url(../fonts/Kuunari.woff2);
    font-display: swap;
}

@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue.woff2);
    font-display: swap;
}